
.icon-sm{
    font-size:2rem;
}

.icon-mid{
    font-size:5rem;
}

.icon-lg{
    font-size:10rem;
}

.img-xs{
    height:2.5rem;
    width:2.5rem;
    object-fit:cover;
}

.img-mid{
    height:5rem;
    width:5rem;
    object-fit:cover;
}


.img-lg{
    height:400px;
    width:400px;
    object-fit:cover;
}